<div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-8 col-sm-2 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center">Current Projects:</h1>
          </div>
          <div class="text-center">
          <%= form_for @new_list do |f| %>
            <%= f.text_field :title %>
            <%= f.submit class: "btn btn-dark" %>
          <% end %>

          <ul>
            <% @lists.each do |list| %>
              <li> <%= link_to list.title, list_path(list) %> <button class="btn btn-dark"><%= link_to 'See Tasks', list_tasks_path(list) %> </button>
              <% if @current_user.manager? %>
                <button class="btn btn-success"> <%= link_to 'Done', list_complete_path(list), method: :post %> </button>
                <button class="btn btn-danger"> <%= link_to 'Delete',url_for(action: :destroy, id: list.id),method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %> </button>
              <% end %>
             </li>
            <% end %>
          </ul>
          
          <h2> Completed Projects: </h2>

          <ul>
            <% @completed_lists.each do |list| %>
              <li> <%= list.title %> - Completed: <%= list.completed_at %> </li>
            <% end %>
          </ul>

          </div>
          <br>
        </div>
    </div>
</div>

