<h1> Current Projects: </h1>

<%= form_for @new_list do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<ul>
  <% @lists.each do |list| %>
     <li> <%= link_to list.title, list_path(list) %> <button><%= link_to 'See Tasks', list_tasks_path(list) %> </button></li>
  <% end %>
</ul>

