<!--<h1> <%= @list.title %> </h1>

<% if @list.user_id == @current_user.id || @current_user.manager? %>
  <button class="btn btn-secondary"> <%= link_to 'Edit Project', edit_list_path(@list) %> </button>
  <button class="btn btn-danger"> <%= link_to 'Delete',url_for(action: :destroy, id: @list.id),method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %> </button>
  <button class="btn btn-success"> <%= link_to 'Project Finished', list_complete_path(@list), method: :post %> </button> 
<% end %>

<%= form_for(@task) do |f| %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.text_field :description %>
  <%= f.submit class: "btn btn-primary"%>
<% end %> -->

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center"> <%= @list.title %></h1>
          </div>
          <div class="text-center">
            <% if @list.user_id == @current_user.id || @current_user.manager? %>
              <button class="btn btn-secondary"> <%= link_to 'Edit Project', edit_list_path(@list) %> </button>
              <button class="btn btn-danger"> <%= link_to 'Delete',url_for(action: :destroy, id: @list.id),method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %> </button>
              <button class="btn btn-success"> <%= link_to 'Project Finished', list_complete_path(@list), method: :post %> </button> 
            <% end %>

            <%= form_for(@task) do |f| %>
              <%= f.hidden_field :list_id, value: @list.id %>
              <%= f.text_field :description %>
              <%= f.submit class: "btn btn-primary"%>
            <% end %>

            <h2 class="text-center">Tasks: </h2>
            <% if @list.tasks %>
              <ul>
              <% @list.tasks.each do |task|%>
                <li> <%= task.description %> 
                <% if task.assigned? %>
                  - assigned to: 
                  <% task.assignments.each do |assignment| %>
                    <%= assignment.user.name %>
                    (due <%= assignment.due_date %>)
                  <% end %>
                <% end %>
                </li>
              <% end %>
              </ul>
            <% end %>
          </div>
          <br>
        </div>
    </div>
</div>
