<% if @list %>
  <h1> <%= @list.title %>
<% else %>
  <h1> To do: </h1>
<% end %>


<h4> Let's get to work... </h4>

<%= form_for @task do |f| %>
  <%= f.text_field :description %> <br>
  
  <%= f.label :list_id %>
  <%= f.collection_select(:list_id, @lists, :id, :title)%> <br>

  <%= f.submit "Add Task" %>
<% end %>



<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.description %> 
    <% if current_user.manager? %>
      <button> <%= link_to 'Assign Task', new_assignment_path %>  </button>
    <% end %>
    </li>
  <% end %>
</ul>