<% if @list %>
  <h1> <%= @list.title %>
<% else %>
  <h1> Current tasks: </h1>
<% end %>


<%= form_for @task do |f| %>
  <%= f.text_field :description %> <br>
  
  <% if @list %>
    <%= f.hidden_field :list_id, value: @list.id%>
  <% else %>
    <%= f.label :list_id %>
    <%= f.collection_select(:list_id, @lists, :id, :title) %> <br>
  <% end %>

  <%= f.submit "Add Task" %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.description, task_path(task) %>

<!-- if the current user is assigned this task, they can mark it complete -->
      <% if task.is_assigned_to?(@current_user) %>
      <button>
        <!--<%= form_tag(task_path(task), method: :patch)%>
        <%= submit_tag "Done"%>-->
        <%= link_to "Done", task_path(task), :method => :patch %>
      </button>
      <% end %>

<!-- if user is a manager, they can assign the task to another user: -->
      <% if current_user.manager? %>
        <% if !task.assigned? %>
          <%= form_for @assignment do |f| %>
            <%= f.collection_select(:user_id, @users, :id, :name)%>
            <%= f.text_field :due_date, value: "Due date"%>
            <%= f.hidden_field :task_id, value: task.id %>
            <%= f.submit "Assign Task" %>
          <% end %>
        <% end %>
        

      <% end %>

    </li>
  <% end %>
</ul>