<% if @list %>
  <h1> <%= @list.title %>
<% else %>
  <h1> To do: </h1>
<% end %>


<h4> Let's get to work... </h4>

<%= form_tag(list_tasks_path, method: "post") do %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("Add Task") %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.description %> </li>
  <% end %>
</ul>