<h1> To do: </h1>
<h4> Let's get to work... </h4>
<%= form_tag("/lists/:list_id/tasks", method: "post") do %>
  <%= hidden_field_tag(:list_id) %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("Add Task") %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.description %> </li>
  <% end %>
</ul>