<h1> My Tasks </h1>

<h2> To do: </h2>

<ul>
  <% @my_tasks.each do |assignment| %>
    <% if !assignment.task.completed %>
      <li> 
        <%= link_to assignment.task.description, task_path(assignment.task) %> - due <%= assignment.due_date %> 
        <!-- button to mark task complete: -->
        <button> <%= link_to "Done", task_path(assignment.task), :method => :patch %> </button>
      </li>
    <% end %>
  <% end %>
</ul>



<h2> Done: </h2>

<ul>
  <% @my_tasks.each do |assignment| %>
    <% if assignment.task.completed %>
      <li> <%= link_to assignment.task.description, task_path(assignment.task) %> 
        <% if assignment.task.completed_at != nil %>
          <p> - Completed at: <%= assignment.task.completed_at %> </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
