<h2> Task: </h2> <%= @task.description %>
<h3> Project: </h3> <%= @task.list.title %>

<% if @task.assigned? %>
  <h4> Assigned to: </h4> <%= @person.name %>
<% elsif !@task.assigned? && @current_user && @current_user.manager? %>
  <h4> Assign to: </h4>
  <%= form_for @assignment do |f| %>
    <%= f.collection_select(:user_id, @users, :id, :name)%> <br>
    <%= f.text_field :due_date, value: "Due date"%> <br>
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.submit "Assign Task" %>
    <% end %>
<% end %>

<!-- edit button: -->
<button> <%= link_to 'Edit', edit_task_path(@task) %>  </button>

<!-- if user is manager or owns the task, button to mark it complete: -->
<% if @current_user %>
  <% if @current_user.manager? || @task.is_assigned_to?(@current_user) %>
  <button> <%= link_to 'Done', task_complete_path(@task), method: :post %> </button>
  <% end %>
<% end %>

<h3> Notes: </h3>
<%= form_for @new_note do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <%= f.text_field :content %>
  <%= f.submit "Add Note"%>
<% end %>

<ul>
  <% @task.notes.each do |note| %>
    <li> <strong><%= note.user.name %>:</strong> <%= note.content %> </li>
  <% end %>
</ul>