<h2> Task: </h2> <%= @task.description %>
<h3> Project: </h3> <%= @task.list.title %>

<% if @task.assigned? %>
  <h4> Assigned to: </h4> <%= @person.name %>
<% else %>
  <h4> Assign to: </h4>
  <%= form_for @assignment do |f| %>
    <%= f.collection_select(:user_id, @users, :id, :name)%> <br>
    <%= f.text_field :due_date, value: "Due date"%> <br>
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.submit "Assign Task" %>
    <% end %>
<% end %>

<!-- edit button: -->
<button> <%= link_to 'Edit', edit_task_path(@task) %>  </button>

<h3> Add a note: </h3>
<%= form_for @new_note do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <%= f.text_field :content %>
  <%= f.submit "Add Note"%>
<% end %>