<div class="sign-up-headers">
  <h1> Liste </h1>
  <h2> Sign up: </h2>
</div>

<% if @user.errors.any? %>
  <div class="error-explanations">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="sign-up">
<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Name" %> <br>

  <%= f.text_field :email, placeholder: "Email" %> <br>

  <%= f.password_field :password, placeholder: "Password" %> <br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> <br>

  <%= f.label :manager %>
  <%= f.check_box :manager %> <br>

  <%= f.submit 'Sign Up', class: "btn btn-primary"%>
<% end %>

</div>

