<!DOCTYPE html>
<html>
  <head>
    <title>Liste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar">
    <%= link_to 'Projects', lists_path %>
    <%= link_to 'My Tasks', '/mytasks' %>
    <%= link_to 'Assignments', assignments_path %>
    <%= link_to 'Teammates', users_path %>
    <%= link_to 'Log Out', '/logout' %>
  </div>
  <!-- configuration for flash messages: -->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <!-- end config for flash messages -->
  
    
    <%= yield %>
  </body>
</html>
